<div class="card mx-auto text-center " style="width: 50%;">
  <div class="card-header text-white bg-success">
    <h3> Welcome To our Ticket Booking Website </h3>
    
  </div>
  <div class="card">
    <h4> This is our Home Page </h4>
  </div>
  <div class="card-footer text-muted text-white bg-info">
    <h4> To see Latest Movies Click here  <a href="/movies">Movies Lists</a> </h4>
  </div>
</div>
