<footer class="bottom gap-2 "> 
<div class="card text-center ">
 
  <div class="card-body">
    <h5 class="card-title">This is a Ticketbookingwebsite :) </h5>
    
  </div>
  <div class="card-footer text-body-secondary">
    All rights are reserved at raghavrajpatil@ticketbookingwebsite 
  </div>
  
</div>
</footer>
